.idea
/obj/Debug/net8.0/apphost
/Folder.DotSettings.user
/bin/Debug/net8.0/MyApp
/obj/project.nuget.cache
/obj/Debug/net8.0/MyApp.pdb
/bin/Debug/net8.0/MyApp.pdb
/obj/Debug/net8.0/MyApp.genruntimeconfig.cache
/obj/rider.project.restore.info
/obj/rider.project.model.nuget.info
/obj/project.packagespec.json
/obj/Debug/*
/obj/MyApp.csproj.nuget.dgspec.json
/obj/MyApp.csproj.nuget.g.props
/obj/MyApp.csproj.nuget.g.targets
/bin/Debug/net8.0/MyApp.deps.json
/bin/Debug/net8.0/MyApp.dll
/obj/project.assets.json
/bin/Debug/net8.0/MyApp.runtimeconfig.json
